<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Onboarding is fun!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width" initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1>Holberton Makers Club</h1>
            <h3>Members:</h3>
        </header>

<!-- COPY THE CODE BELOW ===========================================





        <div class="card">
            <div id="ENTERYOURFULLNAMEHEREASONEWORD">
                <header class="card-header">
                    <div class="name">
                        <h3>
                        
                        ENTER YOUR NAME HERE
                        </h3>
                    </div>
                    <div class="cohort">

                        ENTER YOUR COHORT (format like: C11)

                    </div>
                </header>
                <div class="msg">

                    ENTER YOUR MESSAGE HERE (this is public)
                </div>
            </div>
        </div>





====================================================================
PASTE IT HERE ABOVE THE OTHERS AND FILL IN YOUR INFO
-->

        <div class="card">
            <div id="VALERIENIERENBERG">
                <header class="card-header">
                    <div class="name">
                        <h3>
                        
                        Valerie Nierenberg
                        </h3>
                    </div>
                    <div class="cohort">

                        C13

                    </div>
                </header>
                <div class="msg">

                    bark
                </div>
            </div>
        </div>

<div class="card">
            <div id="BRERICKNER">
                <header class="card-header">
                    <div class="name">
                        <h3>
                        
                        BRE RICKNER
                        </h3>
                    </div>
                    <div class="cohort">

                        C13

                    </div>
                </header>
                <div class="msg">

                    Meow!
                </div>
            </div>
        </div>

<div class="card">
    <div id="athenadeng">
        <header class="card-header">
            <div class="name">
                <h3>
                
                Athena Deng
                </h3>
            </div>
            <div class="cohort">

                Alumni - C8

            </div>
        </header>
        <div class="msg">

            Egg egg egg egg egg!
        </div>
    </div>
</div>


<div class="card">
    <div id="russellmolimock">
        <header class="card-header">
            <div class="name">
                <h3>
                
                Russell Molimock
                </h3>
            </div>
            <div class="cohort">

                C10

            </div>
        </header>
        <div class="msg">

            Welcome to Holberton Makers Club!
        </div>
    </div>
</div>
















    </body>
</html>
